@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: url(./imagenes/fondoTasker.jpg);
    font-family: 'Work Sans', sans-serif;
    color: var(--oscuro);
}
:root {
    --tinto: rgb(76, 8, 39);
    --agua: rgb(128, 211, 155);
    --oscuro: rgb(16, 0, 7);

}
@media (min-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        
       
    }
    .header {
        display: flex;
        

    }
    .hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .hero_titulo {
        font-size: 4rem;
    }
    .textoResaltado {
        font-size: 4.5rem;
        font-weight: bold;
        font-family: 'Fascinate', cursive;
    }
    .hero_subtitulo {
        margin-top: 1rem;
        font-size: 2rem;
    }
    .toDoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }
    .toDo_titulo {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .input_btn {
        display: flex;
        justify-content: center;
        margin-bottom: 2.5rem;
        gap: 2rem;
        

    }
    .inputText {
        width: 20rem;
        height: 3rem;
        border-radius: 0.8rem;
        text-align: center;
        
        
        

    }
    .addTask {
        width: 10rem;
        height: 3rem;
        border-radius: 0.8rem;
        background: var(--agua);
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
        
    }
    .addTask:hover {
        width: 10rem;
        height: 3rem;
        border-radius: 0.8rem;
        background: var(--tinto);
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: aliceblue;
    }

    .list_tasks {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    
    .error {
        background: #ff3333;
        color: white;
        padding: 2px 13px;
        position: absolute;
        right: 20px;
        top: 20px;
        border-radius: 15px;
  }
  .btn-delete {
    background: var(--oscuro);
    color: aliceblue;
    width: 1rem;
    height: 1rem;
  }
  li {
    list-style: none;
    display: flex;
    padding: 15px;
    width: auto;
  }
    
    
}
@media (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        
       
    }
    .header {
        display: flex;
        

    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 18rem;
    }
    .hero_titulo {
        font-size: 3rem;
        text-align: center;
    }
    .textoResaltado {
        font-size: 3.5rem;
        font-weight: bold;
        font-family: 'Fascinate', cursive;
    }
    .hero_subtitulo {
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .toDoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }
    .toDo_titulo {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .input_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2.5rem;
        gap: 2rem;
        

    }
    .inputText {
        width: 20rem;
        height: 3rem;
        border-radius: 0.8rem;
        text-align: center;
        
        
        

    }
    .addTask {
        width: 20rem;
        height: 3rem;
        border-radius: 0.8rem;
        background: var(--agua);
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
        
    }
    .addTask:hover {
        width: 20rem;
        height: 3rem;
        border-radius: 0.8rem;
        background: var(--tinto);
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: aliceblue;
    }

    .list_tasks {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    
    .error {
        background: #ff3333;
        color: white;
        padding: 2px 13px;
        position: absolute;
        right: 20px;
        top: 20px;
        border-radius: 15px;
  }
  .list_container {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    
    gap: 10px;
    
  }
 
  li {
    list-style: none;
    display: flex;
    padding: 15px;
    width: auto;
    justify-content: center;
    align-items: center;
   
  }
  .liAdded {
    background: aliceblue;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    width: 80vw;
    text-align: center;
    overflow: scroll;
  }
    
    
}
.btn-delete {
    background: var(--oscuro);
    color: aliceblue;
    width: 2rem;
    height: 1.5rem;
    border-radius: 8px;
    border: none;
  }
  .btn-delete:hover {
    background: var(--agua);
    color: var(--oscuro);
    width: 2rem;
    height: 1.5rem;
    border-radius: 8px;
    border: none;
  }
  .liAdded {
    background: aliceblue;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    width: 40vw;
    text-align: center;
 
  }

